spring:
  datasource:
    url: "jdbc:mysql://localhost:3306/academy"
    username: devuser
    password: dev@password
    driver-class-name: com.mysql.jdbc.Driver
    platform: mysql
    tomcat:
      test-on-borrow: true
      validation-query: SELECT 1
  jpa:
    properties:
      hibernate.cache.region.factory_class: org.hibernate.cache.ehcache.EhCacheRegionFactory
      hibernate.cache.use_second_level_cache: true
      hibernate.cache.use_query_cache: true
    database: MYSQL
    show-sql: true
    hibernate:
      ddl-auto: none